/*1.MENU*/
ol {
    display: inline-flex;
    flex-wrap: inherit;
    width: 100%;
    align-content: center;
    justify-content: center;
}

li {
    padding-right: 1.2em;
}

nav a {
    font-family: 'Jost', sans-serif;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 1.2em;
}

nav {
    display: inline-flex;
    width: 100%;
    align-content: center;
    background-color: rgb(248, 248, 248);
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

.iconos {
    color: #F3A124;
    padding-right: 11px;
}

.navbar {
    display: inline-flex;
    border-bottom: 1px solid #000000;
}

.navbar-logo {
    display: inline-flex;
    align-items: center;
    width: 25%;
    padding-left: 18px;
}

.menu a {
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 4px;
    border-bottom: 3px solid transparent;
}

.barra_menu {
    width: 100%;
    text-align: center;;
}

.menu {
    color: rgba(0, 0, 0, 1);
    position: inherit;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.menu_underline:hover {
  
    border-bottom: 3px solid #F3A124;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.menu_underline {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.menu_underline a {
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 4px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.carrito {
    width: 25%;
    opacity: 1;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding-right: 2em;
}


.carrito img {
    width: 100%;
}
/*1.ACABA MENU*/


/*FOOTER*



/*2.ACABA FOOTER*/


/*3.LANDING*


/*ACABA LANDING*/


/*4.COLECCIÓN*/
.imagenes_cabeceras {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('/img/alo.JPG');
    width: 100%;
    height: 400px;
}

.texto_cabeceras {
    font-family: 'Jost';
    font-weight: bold;
    margin-left: 6em;
    padding-left: 5em;
}

.texto_cabeceras h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin: 1.7em 0em 1em;
    padding: 0px 10px 0px;
}

.titulo_coleccion h1 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    margin-left: 5em;
    padding-left: 10px;
}

.titulo_coleccion h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin-left: 5em;
    padding-left: 10px;
}
.texto_cabeceras p{
    padding: 0em 9em 0em 0em;
}
.module,
.module-small {
  position: relative;
  padding: 40px 66px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
}

.containerr .works-grid-3 .work-item {
  width: 33.2%;
}

.shop-item {
  text-align: center;
  margin: 0 0 40px;
}

.shop-item-image {
  position: relative;
  overflow: hidden;
}

.shop-item-image img {
  width: 100%;
}

.shop-item-detail,
.shop-item-image:after {
  transition: all 0.4s ease-in-out 0s;
}

.shop-item-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.shop-item-detail {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
  padding: 20px;
  opacity: 0;
  z-index: 2;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.shop-item-title {
  font-weight: 400;
  font-size: 14px;
  color: #111;
  margin: 15px 0 5px;
}

.shop-item:hover .shop-item-image:after {
  background: rgba(255, 255, 255, 0.7);
}

.shop-item:hover .shop-item-detail {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.titulo_coleccion h1{
      font-family: 'Jost';
      font-weight: bold;
      font-size: 38px;
       margin-left: 5em;
      padding-left: 10px;
}

.titulo_coleccion h2{
  font-family: 'Jost';
  font-weight: bold;
  font-size: 38px;
  border-left: 4px solid orange;
  margin-left: 5em;
  padding-left: 10px;

}

.rou-multi-columns-row{
    padding: 0em 3em 0em 3em;
}

@media (min-width: 1200px){
.col-l-.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-94 {
  width: 30.33333333%;
  float: left;
  
}}

/*ACABA COLECCIÓN*/

/*5.COLABORACIONES*/
.fotos-colab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6em 8em 6em 8em;
}

.fotos-colab1 {

    width: 100%;
}

.fotos-colab2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.fotos-colab1 img {
    width: 100%;
    height: 500px;
}

.fotos-colab2 img {
    width: 100%;
    height: 15.1em;
}

.artist-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 25px;
}

.artist-product1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 15px 145px 45px 145px;
}

.artist {
    width: 558px;
    height: 374px;
    padding: 10px 37px;
}

.marcapag {
    width: 95px;
    height: 253px;
    padding: 0px 0 4em 18em;
}

.artist-product1 h3 {
    font-family: 'Jost', sans-serif;
    padding: 2em 0 0em 1em;
    font-size: 2em;}

/*ACABA COLABOBRACIONES*/

/*SORTEO*/
/*ACABA SORTEO*/


/*CONOCENOS*/
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto-conocenos {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('/img/alo.JPG');
    width: 100%;
    height: 300px;
}

.cabecera_sobre_subber {
    background-repeat: no-repeat;
    background-image: url(/img/alo.JPG);
    height: 400px;
    background-size: cover;
}

.sobre_subber h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.parrafo {
    padding: 15px 245px 45px 245px;
    font-family: 'Jost', sans-serif;
}

.equipo_subber {
    font-family: 'Jost', sans-serif;
}

.equipo_subber h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin-left: 5em;
    padding-left: 10px;
}

.equiposubber {
    display: flex;

    justify-content: center;
}

.fotos_individuales img {
    width: 100%;
    height: 281px;
}

.fotos_individuales {
    padding-left: 85px;
}

.nombres_equipo {
    text-align: center;
}

.algo {
    text-align: center;
    padding-bottom: 5em;
}

.cont {
    padding: 4px 25px 4px 24px;
    font-family: 'Jost';
    background-color: white;
    font-weight: bold;
}

.row {
    padding-left: 12em !important;
}

.column {
    float: left;
    width: 33.33%;
    font-family: 'Jost', sans-serif;
}

.column a {
    text-decoration: none;
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

/*ACABA CONOCENOS*/

/*CONTACTO*/

/*ACABA CONTACTO*/


/*FAQ*S*/
.imagenes_cabeceras {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('/img/alo.JPG');
    width: 100%;
    height: 400px;
}

.preguntas_frecuentes {
    padding: 4em 9em;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 20px 23px;
    width: 100%;
    text-align: left;
    border: 1px solid;
    outline: none;
    transition: 0.4s;
    border-radius: 5em;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.active,
.accordion:hover {
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    background-color: #F3A124;
}

.panel {
    /* Style the accordion panel. Note: hidden by default */
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: 'Jost', sans-serif;
}

/*ACABA FAQS*/

/*AVISO LEGAL*/
.texto_privacidad {
    padding: 4px 15em 6em 15em;
    font-family: 'Jost';
    font-weight: bold;
}
/*ACABA AVISO LEGAL*/


/*CARRITO*/


/*ACABA CARRITO*/























.grid_container {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    padding: 15px 245px 45px 245px;
    }
    
.grid-titulo{
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: #F3A124;
}
 
 

    .accordion { /* Style the buttons that are used to open and close the accordion panel */
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
      }

      .active, .accordion:hover { /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        background-color: rgb(62, 119, 70);
      }

      .panel { /* Style the accordion panel. Note: hidden by default */
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
      }
   
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
      
        transform: translate(-50%, -50%);
  /*IMPORTANTE*/
 
    }
    .foto-conocenos {
background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
background-image: url('/img/alo.JPG');
    width:100%;
    height: 300px;
    
    }

    .cabecera_comun{
        background-color: #F3A124;
    }

    .cabecera_sobre_subber{
        background-repeat: no-repeat;
        background-image: url(/img/alo.JPG);
        width: 100%;
        height: 400px;
        background-size: cover;
    }

   
    .row {
        padding-left: 2em;
    }
    .column {
        float: left;
        width: 33.33%;
        font-family: 'Jost', sans-serif;
    
    }
    
    .column a {
        text-decoration: none;
        color:#000000;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .column {
        float: left;
    }
    
    .left,
    .right {
        width: 25%;
    }
    
    .middle {
        width: 50%;
    }
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
    
    .newsletter {
        text-align: center;
        font-family: 'Jost', sans-serif;
        border-top: 1px solid #000000;
        padding: 4em 0em 3em 0em;
    }
    
    .boton {
        font-family: 'Jost', sans-serif;
        width: 7%;
        height: 39px;
        background-color: orange;
        color: white;
        border: 0px;
    }
    
    .mail {
        font-family: 'Jost', sans-serif;
        width: 12%;
        height: 34px;
        border-color: orange;
        border-width: 2px;
        border-style: solid;
        padding-left: 10px;
    }
    
    /* Bajo del footer*/
    .bajo {
    
        background-color: black;
    }
    
    .primer {
        width: 25%;
        font-family: 'Jost', sans-serif;
        float: left;
        display: inline-flex;
        justify-content: flex-end;
     
        
    
    }
    
    .primer a {
        text-decoration: none;
    color: white;
    font-size: 12px;
    }
    
    .redes {
        width: 50%;
        font-family: 'Jost', sans-serif;
        float: left;
        display: inline-flex;
        justify-content: center;
        padding-top: 18px;
    }
     
    
    .redes a {
        text-decoration: none;
    }
    
    .tercer {
      
        width: 25%;
        font-family: 'Jost', sans-serif;
        float: left;
         color: white;
        font-size: 12px;
        padding-top: 12px;
        display: inline-flex;
        align-items: center;
    
    }
    
    .tercer a {
        text-decoration: none;
       
    }
    
    /* Clear floats after the columns */
    .bajo:after {
        content: "";
        display: table;
        clear: both;
    }






 


