/*1.MENU*/
ol {
    display: inline-flex;
    flex-wrap: inherit;
    width: 100%;
    align-content: center;
    justify-content: center;
}

li {
    padding-right: 1.2em;
}

nav a {
    font-family: 'Jost', sans-serif;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 1.2em;
}

nav {
    display: inline-flex;
    width: 100%;
    align-content: center;
    background-color: rgb(248, 248, 248);
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

.iconos {
    color: #F3A124;
    padding-right: 11px;
}

.navbar {
    display: inline-flex;
    border-bottom: 1px solid #000000;
}

.navbar-logo {
    display: inline-flex;
    align-items: center;
    width: 25%;
    padding-left: 18px;
}

.menu a {
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 4px;
    border-bottom: 3px solid transparent;
}

.barra_menu {
    width: 100%;
    text-align: center;
    ;
}

.menu {
    color: rgba(0, 0, 0, 1);
    position: inherit;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.menu_underline:hover {

    border-bottom: 3px solid #F3A124;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.menu_underline {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.menu_underline a {
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 4px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.carrito {
    width: 25%;
    opacity: 1;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding-right: 2em;
}


.carrito img {
    width: 100%;
}

/*1.ACABA MENU*/


/*FOOTER*

 /* Bajo del footer*/
.bajo {
    background-color: black;
}

.primer {
    width: 25%;
    font-family: 'Jost', sans-serif;
    float: left;
    display: inline-flex;
    justify-content: flex-end;
}

.primer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.redes {
    width: 50%;
    font-family: 'Jost', sans-serif;
    float: left;
    display: inline-flex;
    justify-content: center;
    padding-top: 18px;
}

.redes a {
    text-decoration: none;
}

.tercer {
    width: 25%;
    font-family: 'Jost', sans-serif;
    float: left;
    color: white;
    font-size: 12px;
    padding-top: 12px;
    display: inline-flex;
    align-items: center;
}

.tercer a {
    text-decoration: none;

}

/* Clear floats after the columns */
.bajo:after {
    content: "";
    display: table;
    clear: both;
}

/*.ACABA FOOTER*/


/*3.LANDING*/
.banner-landing {
    background-image: url('./../img/1.landing/cuadr.png');
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-landing h3 {
    text-align: center;
    padding-top: 5em;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 3em;
    margin: 0;
}

ul.slider {
    position: relative;

    height: 280px;
    padding-bottom: 9em;
    margin: 5em 0em;

}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 284px;
    transition: opacity .5s;
    background: #fff;
    width: 100%;
    opacity: 0;
    padding-right: 0;
}

ul.slider li img {

    margin: 0em 5em 0em;
    width: 148px;
    height: 392px;
    border-radius: 2em;
}

ul.slider li:first-child {
    opacity: 1;
    
}

ul.slider li:target {
    opacity: 1;
    
}

.texto-landing {
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding-bottom: 4em;
}

.texto-landing h3 {
    font-size: 2.2em;
    padding-top: 1em;
}

.texto-landing p {
    padding: 1em 21em;
}

.conocenos {
    padding: 1em 3em;
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    margin-bottom: 2em;
}
.conocens{
    
        padding: 1em 3em;
        background-color: black;
        color: white;
        font-family: 'Jost', sans-serif;
        cursor: pointer;
        margin: 0em 0em 6em 43em;
    
}
.sobre_subber {
    padding-top: 4em;
}

.works-grid {
    list-style: none;
    padding: 0;
    margin: 0;
}

.works-grid.works-grid-gut {
    margin: 0 0 0 -10px;
    display: flow-root;
}

.works-grid.works-grid-gut .work-item {
    padding: 0 0 10px 10px;
}

.work-item {
    width: 50%;
    float: left;
    margin: 0;
}

.works-grid-3 .work-item {
    width: 33.3333%;
}

.container .works-grid-3 .work-item {
    width: 33.2%;
}

.works-grid-4 .work-item {
    width: 25%;
}

.works-grid-5 .work-item {
    width: 20%;
}

.work-item>a {
    position: relative;
    display: block;
    overflow: hidden;
}

.work-image {
    position: relative;
    overflow: hidden;
}

.work-image img {
    display: block;
    overflow: hidden;
    width: 100%;
}

.work-image:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.work-caption {
    width: 100%;
    padding: 0 20px;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    text-align: center;
    overflow: hidden;
}

.works-grid.works-grid-gut ul {
    width: 100%;
}

.work-item,
.works-grid-3 .work-item,
.container .works-grid-3 .work-item,
.works-grid-4 .work-item,
.works-grid-5 .work-item {
    width: 32.5%;
}

.nuestr {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    letter-spacing: 5px;
}

.land {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 46px;
    grid-row-gap: 9px;
    font-family: 'Jost';
    padding: 6em 4em 4em 0em;
}

.landi1 {
    grid-area: 1 / 1 / 5 / 1;
    justify-self: center;

}

.landi1 img {
    width: 205px;
    height: 543px;
    border-radius: 22px;
}

.landi2 {
    grid-area: 1 / 2 / 2 / 3;
}

.landi3 {
    grid-area: 2 / 2 / 3 / 3;
}

.landi4 {
    grid-area: 3 / 2 / 4 / 3;
}

.landi5 {
    grid-area: 4 / 2 / 5 / 3;
}

.landi6 {
    grid-area: 1 / 3 / 2 / 4;
}

.landi7 {
    grid-area: 2 / 3 / 3 / 4;
}

.landi8 {
    grid-area: 3 / 3 / 4 / 4;
}

.landi9 {
    grid-area: 4 / 3 / 5 / 4;
}

.ir {
    padding: 1em 3em;
    margin: 3em 50em 3em;

}

.icon-text {
    display: inline-flex;
    align-items: center;
}

.ir {
    padding: 1em 3em;
    margin: 3em 50em 3em;

}

.icon-text {
    display: inline-flex;
    align-items: center;
}

/*ACABA LANDING*/


/*4.COLECCIÓN*/
.module,
.module-small {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
}

.containerr .works-grid-3 .work-item {
    width: 33.2%;
}

.shop-item {
    text-align: center;
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 14px;
    color: #111;
    font-family: 'Jost', sans-serif;
}

.shop-item-image {
    position: relative;
    overflow: hidden;
}

.shop-item-image img {

    position: relative;
    overflow: hidden;
    width: 148px;
    height: 392px;
    display: -webkit-inline-box;
    border-radius: 2em;
    margin: 5em 0 0em 0;
}

.shop-item-detail,
.shop-item-image:after {
    transition: all 0.4s ease-in-out 0s;
}

.shop-item-image:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.shop-item-detail {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    padding: 20px;
    opacity: 0;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.shop-item-title {
    font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 15px 0 5px;
    font-family: 'Jost', sans-serif;
}

.shop-item-title a {
    text-decoration: none;
    font-size: 17px;
    color: #111;
    font-weight: bold;
}

.shop-item:hover .shop-item-image:after {
    background: rgba(255, 255, 255, 0.7);
}

.shop-item:hover .shop-item-detail {
    opacity: 1;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



.titulo_coleccion h1 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.titulo_coleccion h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin-left: 5em;
    padding-left: 10px;

}

.row-multi-columns-row {
    padding: 0em 3em 0em 3em;

}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 28px;
}

.tit {
    display: inline-flex;
    padding: 5em 15em 3em 15em;
}

.titulo-cuadricula {
    font-family: 'Jost', sans-serif;
    font-size: 2em;
    font-weight: bold;

}

.titulo-cuadricula1 {
    font-family: 'Jost', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline 5px #F3A124;
}

.cuadricula1 {
    grid-area: 1 / 1 / 2 / 3;
    display: inline-flex;
    padding: 0em 10em 0em 10em;

}

.cuadricula1 img,
.cuadricula2 img {
    width: 554px;
    height: 224px;
    padding-bottom: 2em 0em;
}

.cuadricula1 p,
.cuadricula2 p {
    width: 534px;
    height: 174px;
    padding: 2em 5em 0em 5em;
    font-family: 'Jost', sans-serif;
}


.cuadricula2 {
    grid-area: 2 / 1 / 3 / 3;
    display: inline-flex;
    padding: 0em 10em 0em 10em;

}

.ultimo-coleccion {
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 7em 0em 6em 0em;
}

.participar {
    padding: 0.7em 3em;
    border-radius: 15px;
    border: 0;
    background-color: black;
    color: white;
    font-family: 'Jost';
    cursor: pointer;
}

/*ACABA COLECCIÓN*/


/*5.DETALLE COLECCIÓN*/

/*6.COLABORACIONES*/
.fotos-colab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6em 8em 6em 8em;
}

.fotos-colab1 {

    width: 100%;
}

.fotos-colab2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.fotos-colab1 img {
    width: 487px;
    height: 565px;
}

.fotos-colab2 img {
    width: 242px;
    height: 274px;
}

@media screen and (max-width:1339px) {
    .fotos-colab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6em 8em 6em 8em;
    }

    .fotos-colab1 {

        width: 100%;
    }

    .fotos-colab2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .fotos-colab1 img {
        width: 487px;
        height: 565px;
    }

    .fotos-colab2 img {
        width: 242px;
        height: 274px;
    }

}

.artist-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 25px;
}

.artist-product1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 15px 68px 45px 94px;
}

.artist {
    width: 558px;
    height: 374px;
    padding: 10px 37px;
}

.marcapag {

    width: 95px;
    height: 253px;
    margin: 0 0 4em 18em;
    border-radius: 2em 2em 2em 2em;
}


.artist-product1 h3 {
    font-family: 'Jost', sans-serif;
    padding: 0em 0 0em 1em;
    font-size: 2.2em;
}

/*ACABA COLABOBRACIONES*/


/*7.DETALLE ARTISTA*/
.products {
    display: grid;

    width: 100%;
}

.mainProduct {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 2em;
    display: flex;
    width: 70%;
    background-size: cover;
    margin: 3em 12em;
}

.mainProduct2 {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: end;
    background-image: url('../img/alo.JPG');
    width: 100%;
    background-size: cover;
}

.mainProduct3 {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: end;
    background-image: url('../img/alo.JPG');
    width: 100%;
    background-size: cover;
}

.mainProduct>img {

    width: 146px;
    height: 379px;
    border-radius: 2em;
    margin-left: 2em;
}

.productDescr {
    grid-area: 1 / 2 / 2 / 4;
    justify-self: start;
    font-family: 'Jost';

}

.productDescr h2 {
    font-size: 2em;
}

.price {
    font-size: 1.4em;
    font-weight: bold;
}

.imgList {
    height: 146px;
    width: 192px;
    margin-left: 1em
}

.buy {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    font-size: 1.1em;

    display: block;
    border-radius: 1em;
    padding: 0.7em 2em;
    font-family: 'Jost';
}

.buy:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
    font-size: 1.2em;
}

.sizes>a {
    text-decoration: none;
}

.talla {
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    padding: 0.5em 4em;
    display: inline-flex;
    font-family: 'Jost';
    background-color: #000000;
    color: #fff;
}

.sizes {
    margin-bottom: 20px;
    font-family: 'Jost';
}

.talla:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
}

.shoeIcon {
    width: 30px;
    padding: 10px;
}

 .shoe1 {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    padding: 0em 2em;
}

.shoe>img {
    width: 200px;
}

.shoe>p {
    text-align: center;
}

img~a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.3em;
}

.shoe2 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    padding: 0em 2em;

}

.shoe3 {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    padding: 0em 2em;

}

.minifotos {
    display: inline-flex;
    margin-left: 4em;

}

.minifotos a {
    display: inline-flex;

}

.havana {
    font-family: 'Jost';

}

.havana img {
    width: 100%;
    height: 601px;
}

.havana h3 {
    padding: 1em 6em 0em;
    font-size: 2em;
}

.havana p {
    padding: 1em 12em 3em;
}

.relacionados h3 {
    font-family: 'Jost', sans-serif;
    font-size: 2em;

}

.relacionados img {
    width: 105px;
    height: 280px;
    margin: 0em 6em;
    border-radius: 2em;
}

.relacionados {
    text-align: center;
    padding: 2em 0em 4em;
}

.opiniones {
    border-collapse: collapse;
    border-spacing: 0;
}


.opiniones td {
    border-color: white;
    border-style: solid;
    border-width: 17px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
    padding: 2px 44px;
    word-break: normal;
}

.opiniones th {
    border-color: black;
    border-style: solid;
    border-width: 0px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.opiniones .opi {
    text-align: left;
    vertical-align: top;
    font-family: 'Jost';

}

.opinar {
    background-color: #F3A124;
}

.opin {
    font-family: 'Jost', sans-serif;
    padding: 0em 14em 5em;
}

.opin h3 {
    font-size: 2em;

}

/*ACABA DETALLE ARTISTA*/

/*8.DETALLE PRODUCTO ARTISTA*/
/*ACABA DETALLE PRODUCTO ARTISTA*/

/*9.SORTEO*/
.sort-bot {
    text-align: center;
    padding-bottom: 4em;
}

.prod-sort {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0em 0em 8em;
}
.cuent{
    text-align: center;
    border: 4px solid black;
    margin: 0em 9em 3em;
    font-size: 2em;
    font-family: 'Jost';
    text-transform: uppercase;
}
.tit-sort {
    font-family: 'Jost';
    font-size: 2em;
    color: #F3A124;
    padding: 1em 0em 1em 2em;
}

.arriba-cuadricula {
    font-family: 'Jost';
    text-align: center;
    padding: 2em 0em;
    font-size: 2em;
}

/*ACABA SORTEO*/


/*10.CONOCENOS*/
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto-conocenos {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../img/alo.JPG');
    width: 100%;
    height: 300px;
}

.cabecera_sobre_subber {
    background-repeat: no-repeat;
    background-image: url(../img/1.landing/cuadr.png);
    height: 400px;
    background-size: cover;
}

.sobre_subber h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.parrafo {
    padding: 15px 245px 45px 245px;
    font-family: 'Jost', sans-serif;
}

.equipo_subber {
    font-family: 'Jost', sans-serif;
}

.equipo_subber h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin-left: 5em;
    padding-left: 10px;
    margin-top: 2em;
}

.equiposubber {
    display: flex;

    justify-content: center;
}

.fotos_individuales img {
    width: 100%;
    height: 281px;
}

.fotos_individuales {
    padding: 0em 2em;
}

.nombres_equipo {
    text-align: center;
}

.algo {
    text-align: center;
    padding-bottom: 5em;

}

.cont {
    padding: 4px 25px 4px 24px;
    font-family: 'Jost';
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.row {
    padding-left: 12em !important;
}

.column {
    float: left;
    width: 33.33%;
    font-family: 'Jost', sans-serif;
}

.column a {
    text-decoration: none;
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}


.newsletter {
    text-align: center;
    font-family: 'Jost', sans-serif;
    border-top: 1px solid #000000;
    padding: 4em 0em 3em 0em;
}

.boton {
    font-family: 'Jost', sans-serif;
    width: 7%;
    height: 39px;
    background-color: orange;
    color: white;
    border: 0px;
}

.mail {
    font-family: 'Jost', sans-serif;
    width: 12%;
    height: 34px;
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
}


/*ACABA CONOCENOS*/

/*11.CONTACTO*/
.texto_cabeceras {
    font-family: 'Jost';
    font-weight: bold;
    padding: 4px 15em 6em 15em;
}

.texto_cabeceras h2 {
    font-family: 'Jost';
    font-weight: bold;
    font-size: 38px;
    border-left: 4px solid orange;
    margin: 1.7em 0em 1em;
    padding: 0px 10px 0px;
}

.mapa {
    text-align: center;
}

.mapa iframe:hover {
    height: 100vh;
    border: 0;
    filter: none;
    -webkit-filter: none;
}

.mapa iframe {
    height: 100vh;
    border: 0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(99%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;
    /* Fix for transition flickering */
}

.rou {
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.formulario {
    font-family: 'Jost';
    padding: 70px 0px 10px 100px;
}

.col-5 {
    width: 50%;
    text-align: right;
}

.col-7 {
    width: 50%;
}

#ayuda {
    outline: 0;
    border-width: 0px 0 2px;
    border-color: rgb(0, 0, 0);
    font-family: 'Jost';
    margin: 102px 0px 2px;
    width: 19em;
}

#Email {
    outline: 0;
    border-width: 0px 0 2px;
    border-color: rgb(0, 0, 0);
    font-family: 'Jost';
    margin: 22px 0px 2px;
    width: 19em;
}

#Nombre {
    outline: 0;
    border-width: 0px 0 2px;
    border-color: rgb(0, 0, 0);
    font-family: 'Jost';
    margin: 22px 0px 2px;
    width: 19em;
}

.enviar {
    padding: 5px 60px;
    border: 2px solid #f3a124;
    background-color: white;
    border-radius: 22px;
    color: #F3A124;
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.semi_footer_contacto {
    background-repeat: no-repeat;
    background-image: url(../img/alo.jpg);
    height: 400px;
    background-size: cover;
    width: 100%;
}

.centrad {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 880%);
}

/*ACABA CONTACTO*/


/*12.FAQ*S*/
.imagenes_cabeceras {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../img/1.landing/cuadr.png');
    width: 100%;
    height: 400px;
}

.preguntas_frecuentes {
    padding: 0em 9em;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 20px 23px;
    width: 100%;
    text-align: left;
    border: 1px solid;
    outline: none;
    transition: 0.4s;
    border-radius: 5em;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.active,
.accordion:hover {
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    background-color: #F3A124;
}

.panel {
    /* Style the accordion panel. Note: hidden by default */
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: 'Jost', sans-serif;
}

/*ACABA FAQS*/

/*13.AVISO LEGAL*/
.texto_privacidad {
    padding: 4px 15em 6em 15em;
    font-family: 'Jost';
    font-weight: bold;
}

/*ACABA AVISO LEGAL*/


/*CARRITO*/
.container {
    font-family: 'Jost';
    padding-bottom: 2em;
}

.table,
.table-striped,
.table-border,
.checkout-table {
    width: 100%;
}

.table th {
    padding: 0em 2em;
}

.car td {
    padding: 0em 2em;
}
.btn.btn-round {
   
    border-radius: 2px;
    background-color: orange;
    font-family: 'Jost';
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
.btn,
.btn-round,
.btn-g {
    width: 30%;
    margin-left: auto;
 
}

.hidden-xs img {
    width: 50px;
    height: 50px;
}

.table tbody {
    text-align: left;
}

.shop-Cart-totalbox {
    padding: 0em 0em 3em;
}

.form-control {
    margin-left: auto;
    width: 29%;
}

/*ACABA CARRITO*/












.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    padding: 15px 245px 45px 245px;
    FONT-FAMILY: 'Jost';
}

.grid-titulo {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: #F3A124;
}



.accordion {
    /* Style the buttons that are used to open and close the accordion panel */
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    background-color: #F3A124;
}

.panel {
    /* Style the accordion panel. Note: hidden by default */
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    /*IMPORTANTE*/

}

.foto-conocenos {
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../img/alo.JPG');
    width: 100%;
    height: 300px;

}

.cabecera_comun {
    background-color: #F3A124;
}




.row {
    padding-left: 2em;
}

.column {
    float: left;
    width: 33.33%;
    font-family: 'Jost', sans-serif;

}

.column a {
    text-decoration: none;
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

/* MEDIA QUERIS */

@media (min-width: 1200px) {

    .col-l-.col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-94 {
        width: 30.33333333%;
        float: left;

    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width:764px) {

    .nav a {
        font-family: 'Jost', sans-serif;
        color: rgb(3, 3, 3);
        text-decoration: none;
        font-size: 1.2em;
    }

    .nav {
        display: block;
        width: 100%;
        align-content: center;
        background-color: rgb(248, 248, 248);
    }



    .iconos {
        color: #F3A124;
        padding-right: 11px;
    }

    .navbar {
        display: block;
        border-bottom: 1px solid #000000;
    }

    .navbar-logo {
        display: block;
        text-align: center;
        width: 100%;
        padding-left: 0;
    }

    .menu a {
        text-decoration: none;
        text-transform: none;
        color: rgba(0, 0, 0, 1);
        margin-top: 4px;
        border-bottom: 3px solid transparent;
    }

    .barra_menu {
        width: 100%;
        text-align: center;
        ;
    }

    .menu {
        color: rgba(0, 0, 0, 1);
        position: inherit;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        font-size: 20px;
        opacity: 1;
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
        align-content: center;
    }





    .carrito {
        width: 100%;
        opacity: 1;
        overflow: hidden;
        display: block;
        text-align: center;
        padding: 0;

    }


    .carrito img {
        width: 20px;
    }



    
    /* Bajo del footer*/
    .bajo {
        background-color: black;
    }

    .primer {
        width: 25%;
        font-family: 'Jost', sans-serif;
        float: left;
        display: inline-flex;
        justify-content: flex-end;
    }

    .primer a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .redes {
        width: 50%;
        font-family: 'Jost', sans-serif;
        float: left;
        display: inline-flex;
        justify-content: center;
        padding-top: 18px;
    }

    .redes a {
        text-decoration: none;
    }

    .tercer {
        width: 25%;
        font-family: 'Jost', sans-serif;
        float: left;
        color: white;
        font-size: 12px;
        padding-top: 12px;
        display: inline-flex;
        align-items: center;
    }

    .tercer a {
        text-decoration: none;

    }

    /* Clear floats after the columns */
    .bajo:after {
        content: "";
        display: table;
        clear: both;
    }

    .boton {
        width: 27%;
    }

    .mail {
        width: 31%;
    }

    .row {
        padding-left: 0 !important;
        text-align: center;
    }

    .column h4 {
        padding-right: 20px;

    }

    ol {

        display: block;
        padding: 8px;
    }

    .banner-landing h3 {
        font-size: 1.5em;
        padding-top: 11em;
    }

    .texto-landing p {
        padding: 1em 5em;
    }

    ul.slider {
        position: relative;
        height: 280px;
        padding-bottom: 34em;
    }

    ul.slider li img {
        width: 34%;
        height: 278px;
        object-fit: cover;
        padding: 0em;
    }

    .nuestr {
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        font-size: 14px;
    }

    .works-grid.works-grid-gut {
        margin: 0 0 0 -10px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .land {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }

    .landi2,
    .landi3,
    .landi4,
    .landi5,
    .landi6,
    .landi7,
    .landi8,
    .landi9 {
        grid-area: 1 / 2 / 2 / 3;
        display: contents;
    }

    .landi2 p,
    .landi3 p,
    .landi4 p,
    .landi5 p,
    .landi6 p,
    .landi7 p,
    .landi8 p,
    .landi9 p {
        width: 43%;
    }


    .texto_cabeceras {
        font-family: 'Jost';
        font-weight: bold;
        margin-left: 1em;
        padding: 0em;
    }

    .titulo_coleccion h1 {
        font-family: 'Jost';
        font-weight: bold;
        font-size: 33px;
    margin-left: 0em;
    padding-left: 0;

    }

    .titulo-cuadricula {
        font-family: 'Jost', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 1em;
    }

    .titulo-cuadricula1 {
        font-family: 'Jost', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: underline 1px #F3A124;
    }

    .cuadricula1,
    .cuadricula2 {
        grid-area: 1 / 1 / 2 / 3;
        display: inline-flex;
        padding: 0;
        flex-direction: column;
    }

    .cuadricula1 img,
    .cuadricula2 img {
        width: 100%;
        height: 224px;
        padding-bottom: 13em;
    }

    .cuadricula1 p,
    .cuadricula2 p {
        width: 100%;
        display: inline-flex;
        padding: 14em 0em 0em;
        flex-direction: column;
    }

    .cuadricula {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 28px;
        padding-bottom: 6em;
    }

    .ultimo-coleccion {
        font-family: 'Jost', sans-serif;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        padding: 0em 0em 3em 0em;
    }

    .participar {
        font-size: 16px;
    }


    .products {
        display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    }

    .mainProduct {
        display: inline-flex;
        width: 100%;
        background-size: cover;
        flex-direction: column;
        align-items: center;
    }

    .mainProduct>img {
        padding: 0;
        width: 60%;
        margin: 1em 0em;;
        
    }
    .minifotos a {
        display: inline-flex;
        flex-direction: column;}
.talla{margin: 12px 0px;}

    .imgList {
        width: 100%;
        padding: 1em 0em;
    }

    .minifotos {
        display: inline-flex;
        width: 150px;
        flex-direction: column;
        margin:0;
    }

    .productDescr {
        grid-area: 1 / 2 / 2 / 4;
        justify-self: start;
        font-family: 'Jost';
        text-align: center;
    }

    .buy {
        display: initial;
    }

    .havana h3 {
        padding: 1em 0em 0em;
        font-size: 2em;
        text-align: center;
    }

    .havana p {
        padding: 1em 3em 3em;
        text-align: center;
    }

    .havana img {
        width: 100%;
        height: 550px;
    }

    .relacionados img {
        width: 105px;
        height: 280px;
        padding: 0;
        border-radius: 2em;
    }

    .opin {
        font-family: 'Jost', sans-serif;
        padding: 0;
        text-align: center;
    }

    .opiniones td {
        border-color: white;
        border-style: solid;
        border-width: 17px;
        font-family: Arial, sans-serif;
        font-size: 18px;
        overflow: hidden;
        padding: 0px 9px;
        word-break: normal;
    }

    .opinar {
        background-color: #F3A124;
        display: none;
    }

    .opiniones {
        border-collapse: collapse;
        border-spacing: 0;
        text-align: -webkit-center;
    }

    .fotos-colab1,
    .fotos-colab2,
    .fotos-colab {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .sobre_subber h1 {
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        font-family: 'Jost', sans-serif;
    }

    .parrafo {
        padding: 1em 6em;
        font-family: 'Jost', sans-serif;
        font-size: 14px;
    }

    .artist-product {
        display: inline-flex;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 7px;
        grid-row-gap: 25px;
        flex-direction: row;

        align-items: center;
    }

    .artist-product1 {
        padding: 0;
        width: 100%;
    }


    .artist-product1 h3 {
        font-family: 'Jost', sans-serif;
        padding: 0;
        font-size: 1.5em;
        text-align: center;

    }

    .marcapag {
        width: 69px;
        height: 203px;
        padding: 0;
        margin: 0;
    }

    .artist {
        width: 60%;
        height: 192px;
        padding:0em 4em 0em 0em;
    }

    .fotos-colab2 img,
    .fotos-colab1 img {
        width: 378px;
        height: 21.1em;}

        .icon-text {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
        }
        .tit {
            display: inline-flex;
            padding: 1em 1em;}

         .cuent{
            text-align: center;
            border: 4px solid black;
            margin: 0em 0em 4em;
            font-size: 1em;
            font-family: 'Jost';
            text-transform: uppercase;
        }

.prod-sort{
    flex-direction: column;
    align-items: center;
}

.equiposubber {
    display: inline-flex;
    flex-direction: column;
}

.equipo_subber h2 {
    margin-left: 2em;
}
.grid_container {
    display: inline;}




         }

        @media screen and (max-width:764px) {

            .nav a {
                font-family: 'Jost', sans-serif;
                color: rgb(3, 3, 3);
                text-decoration: none;
                font-size: 1.2em;
            }
        
            .nav {
                display: block;
                width: 100%;
                align-content: center;
                background-color: rgb(248, 248, 248);
            }
        
        
        
            .iconos {
                color: #F3A124;
                padding-right: 11px;
            }
        
            .navbar {
                display: block;
                border-bottom: 1px solid #000000;
            }
        
            .navbar-logo {
                display: block;
                text-align: center;
                width: 100%;
                padding-left: 0;
            }
        
            .menu a {
                text-decoration: none;
                text-transform: none;
                color: rgba(0, 0, 0, 1);
                margin-top: 4px;
                border-bottom:…
            }
            .rou {
                    display: inline-flex;
                    flex-direction: column;
            }
            .formulario {
                font-family: 'Jost';
                padding: 70px 0px 40px 24px}
            
            #ayuda{
                margin: 102px 0px 15px;
            }
            .form-group {
                display: flex;
                flex-direction: column;
                padding-bottom: 1em;}
        
                .mapa iframe {
        width: 100%;}
            
        
            .col-5 img{
                width: 323px;}
                .semi_footer_contacto {
                    background-repeat: no-repeat;
                    background-image: url(../img/alo.jpg);
                    height: 400px;
                    background-size: cover;
                    width: 100%;
                    margin-bottom: 3em;}
                
        
            

.preguntas_frecuentes {
    padding: 4em 4em;}

    .texto_privacidad {
        padding: 4px 3em 6em 3em;
        font-family: 'Jost';
        font-weight: bold;
    }



    .col-sm-12,.col-sm-5{
        padding: 0;
    }
    .table{
        width: 100%;
        padding-bottom: 1em;}
       
        .land {
           
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 46px;
            grid-row-gap: 9px;
            font-family: 'Jost';
            padding: 0;}
            .conocens {
                padding: 1em 3em;
                background-color: black;
                color: white;
                font-family: 'Jost', sans-serif;
                margin: 4em 0em 5em 8em;}
            
}

    
